
.sqs-block-button-element--medium
{
    padding: 10px 10px !important;
    color: white !important;
    background-color:#f77754 !important;
}


.sqs-block-button-element--medium:after {
    content: '➔';
    color: white !important;
    border-left: 1px solid white;
    padding-left: 30px;
    margin: 0px 0px 0px 30px;
}